@font-face {
  font-family: "font-icons";
  src: url("fonts/font-icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lined-icons";
  src: url("fonts/lined-icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Simple-Line-Icons";
  src: url("fonts/Simple-Line-Icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
