vaadin-combo-box-overlay {
  z-index: 2000;
}

vaadin-date-picker-overlay {
  z-index: 10000;
}

body {
  --track-color: var(--theme-color);
}

sl-button::part(base) {
  background-color: var(--btn-bg-color, var(--secondary));
}
